.custom_btn {
    background-color: green;
    border-radius: 6px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 16px 48px;
  }

  @media(max-width: 480px) {
    .custom_btn {
      padding: 12px 58px;;
    }
}
