.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
}

.categories_btn {
    color: #8B8B8B;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 126%;
    width: 142px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #DDD;
    cursor: pointer;
}

.linie {
    margin-left: 32px;
    border-top: 1px solid #DDD ; 
    width: 100%;
}

.categories_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.navigation{
    display: none;
    width: 140px;
    height: 40px;
}

@media(max-width: 1000px) {
    .categories_list {
        gap: 20px;
    }
    .categories_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 480px) {
    .categories_list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    } 
    .linie {
        display: none;
    }
    .navigation{
        display: flex;
        margin-top: 32px;
    }
    .navigation {
        display: none;
    }
}

@media(max-width: 360px) {
    .categories_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
}