/* .product_container {
    margin-top: 40px;
    display: flex;
    gap: 32px;
    margin-bottom: 82px;
}


.product_image {
    width: 780px;
    object-fit: cover;
}


.product_title {
    color: #282828;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.2px;
}


.product-details {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.product-price {
    width: 360px;
    height: 70px;
    display: flex;
    gap: 16px;
}

.price-and-discount {
    display: flex;
    gap: 32px;
}


.current-price {
    color: #282828;
    font-size: 64px;
    font-weight: 700;
}

.discount-percentage {
    display: flex;
    width: 67px;
    height: 40px;
    color: black;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.6px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    padding: 0 8px;
}


.original-price {
    padding-top: 23px;
    color: #8B8B8B;
    font-size: 40px;
    font-weight: 500;
    text-decoration-line: line-through;
}


.quantity-selector {
    display: flex;
    justify-content: space-between;
}

.product-description-title {
    color: #282828;
    font-size: 20px;
    font-weight: 600;
}

.product-description-text {
    color: #282828;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
}


.quantity-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #DDD;
    width: 200px;
    height: 58px;
}


.quantity-text {
    color: #282828;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}


.add-to-cart-btn {
    border: none;
    width: 55%;
    background-color: green;
    border-radius: 6px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    height: 58px;
    letter-spacing: 1px;
    cursor: pointer;
}

.item-added-btn {
    border: 1px solid black;
    width: 55%;
    background-color: white;
    border-radius: 6px;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    height: 58px;
    letter-spacing: 1px;
    cursor: pointer;
} */
.card {
    margin-top: 40px;
    display: flex;
    gap: 32px;
    margin-bottom: 82px;
}

.product_image{
    width: 780px;
    object-fit: cover;
}

h3 {
    color: #282828;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.product_detail {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.price {
    width: 360px;
    height: 70px;
    display: flex;
    gap: 16px;
}

.price>div {
    display: flex;
    gap: 32px;
}

.current_price {
    color: #282828;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
}

.discount_percentage {
    display: flex;
    width: 67px;
    height: 40px;
    color: black;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.6px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    padding: 0 8px 0 8px;
}

.newdiscount {
    padding-top: 23px;
    color: #8B8B8B;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-decoration-line: line-through;
}

.counter {
    display: flex;
    justify-content: space-between;
}

.desc {
    color: #282828;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.text {
    color: #282828;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.control_button {
    align-items: center;
    padding-top: 6px;
    border-radius: 6px;
    border: 1px solid #DDD;
    width: 58px;
    height: 58px;
    cursor: pointer;
    border: 1px solid #DDD;
}

.counter_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    width: 200px;
    height: 58px;
    border: 1px solid #DDD;
}

.counter p {
    color: #282828;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.btn {
    border: none;
    width: 55%;
    background-color: green;
    border-radius: 6px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    height: 58px;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn_added {
    border: 1px solid black;
    width: 55%;
    background-color: white;
    border-radius: 6px;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    height: 58px;
    letter-spacing: 1px;
    cursor: pointer;
}