.bread_style {
    gap: 16px;
    margin-top: 40px;
    position: relative;
    width: max-content;
}

.linie {
    display: flex;
    justify-content: center;
    top: 20px;
    border-top: 1px solid #DDD ;
    width: max-content;
    width: 100%;
    position: absolute;
    left: 0px;
    z-index: -1;
}

.btn_el:last-child > button {
    color: black;
    font-weight: 600;
}
