.sort {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 40px;
}

.sort_el {
    display: flex;
    gap: 16px;
    align-items: center;
}

.sort_input {
    display: flex;
    gap: 16px;
    align-items: center;
}

.sort_input input {
    width: 112px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #DDD;
    padding: 8px 16px;
}

.sort_input input::placeholder,
textarea::placeholder {
    color: #8B8B8B;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 126%;
}

.sort select {
    width: 100px;
    color: #282828;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.check {
    display: inline-block;
    width: 36px;
    height: 36px;
    align-items: center;
    border-radius: 6px;
}

.sort p {
    color: #282828;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.sort select {
    width: 200px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #DDD;
}

.label {
    display: flex;
    gap: 16px;
    align-items: center;
}

.checkbox {
    display: none;
}

.checkbox:checked + .fake::before {
    opacity: 1;
}

.fake {
   display: inline-block;
   width: 36px;
   height: 36px;
   border: 1px solid #DDD;
   border-radius: 6px;
   position: relative;
}

.fake::before {
    color: white;
    content: '\2714';
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    background-color: green;
    opacity: 0;
    transition: .1s;
}

