.product_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    border: 1px solid #DDD;
    height: 450px;
}

.container_picture {
    overflow: hidden;
    width: 100%;
}

.text_container {
    width: 100%;
    overflow: hidden;
    height: 21px;
}

.product_info img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
    height: 313px;
}

.product_info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product_info p {
    display: flex;
    width: 67px;
    height: 34px;
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.6px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px 32px 32px 32px;
}

.price {
    padding: 1px;
    display: flex;
    gap: 16px;
    height: 41px;
}

.description:first-child {
    color: red
}

.description p:first-child {
    color: #282828;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.price p:first-child {
    color: #282828;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
}

.price p:last-child {
    padding-top: 18px;
    color: #8B8B8B;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-decoration-line: line-through;
}

.btn {
    border: none;
    position: absolute;
    bottom: 5%;
    width: 90%;
    background-color: green;
    border-radius: 6px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    height: 58px;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0;
}

.btn_added {
    position: absolute;
    bottom: 5%;
    width: 90%;
    background-color: white;
    border-radius: 6px;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    height: 58px;
    border-style: none;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0;
}

.btn:hover {
    background-color: black;
}

.product_item:hover .btn {
    opacity: 1;
}

.product_item:hover .btn_added {
    opacity: 1;
    border: 1px solid black;
}

@media(max-width: 768px) {
    .description p:first-child {
        font-size: 18px;
    }

    .price p:first-child {
        font-size: 36px;
    }

    .price p:last-child {
        font-size: 18px;
    }

}


